include COPYING
include README.md
include setup.py
include pyproject.toml

include vendor/r-source/COPYING
include vendor/r-source/src/appl/*.f

prune rlinalg/linpack/_dqrdc2
prune rlinalg/linpack/_dqrutl
prune rlinalg/linpack/_dtrco
